{% extends "studytribe/base.html" %}
{% load i18n %}
{% block titleblock %}{% trans "main" %}{% endblock %}
{% block body-block %}
<div class="container-fluid">
        <div class="row">
            {% block side-bar %}
              <div class="leftcon">
                {% include "studytribe/studycalendar/tparts/calendar-config.html" %}
              </div>
            {% endblock %}
            {% block content-right %}
              <div class="rightcon">
                {% include "studytribe/studycalendar/tparts/calendar.html" %}
              </div>
            {% endblock %} 
    </div> 
</div>
{% endblock %}
