{% load i18n %}
{% url studytribe_sign_main 'signin' as signin_view %}
{% url studytribe_sign_main 'signup' as signup_view %}
<div class="well">
    <form id="signinform" action="{{ signin_view }}" method="post" class="form-horizontal">
      {% csrf_token %}
      <legend>
          登陆学习部落,和老师和其他家庭一起学习! 
      </legend>
      <fieldset>
        {{ signinform.non_field_errors }}
        {% for field in signinform %}
          <div class="control-group">
              {% if field.name == 'remember_me' %}
                <label class="checkbox">
                  {{ field }}{{ field.label }}
                <label>
              {% else %}
                  {{ field }}
              {% endif %}
              {% if field.errors %}
                  {% for error in field.errors %}
                    {{ error }}
                  {% endfor %}
              {% endif %}
          </div>
        {% endfor %}
        <div class="sign-button">
          <button type="submit" class="btn btn-success btn-large btn-block">
              登陆学习部落
          </button>
        </div>
        <a href="{{ signup_view }}" class="pull-right label label-warning">
            还不是部落成员?花2分钟时间就可以注册一个>>
        </a>
      </fieldset>
    </form>
</div>
