{% load sekizai_tags %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block meta-addons %}{% endblock %}
    <title>{% block titleblock %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% render_block "css" %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
        <div id="headcontent">
        {% block head-block %}
        {% endblock %}
        </div>
        {% block body-block %}
        {% endblock %}
        {% block footer-block %}
          <hr>
          <footer class="footer">
            <div class="container-fluid">
              <p>&copy; Esperyong 2012</p>
            </div>
          </footer>
        {% endblock %}
    </div>
    {% render_block "js" %}
  </body>
</html>

{% addtoblock "css" %}
    <link href="{{ STATIC_URL }}assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/studytribe/css/main.css" rel="stylesheet">
{% endaddtoblock %}
{% addtoblock "js" %}
<script src="{{ STATIC_URL }}assets/jquery/jquery.js"></script>
{% if debug %}
<script src="{{ STATIC_URL }}assets/bootstrap/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}assets/backbone/js/backbone.js"></script>
<script src="{{ STATIC_URL }}assets/backbone/js/underscore.js"></script>
{% else %}
<script src="{{ STATIC_URL }}assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}assets/backbone/js/backbone-min.js"></script>
<script src="{{ STATIC_URL }}assets/backbone/js/underscore-min.js"></script>
{% endif %}
{% endaddtoblock %}

