                <form id="study-log-form" class="form-horizontal" >
                    {% csrf_token %}
                    <fieldset>
                        {{ study_log_form.non_field_errors }}
                        {% for field in study_log_form %}
                            <div class="control-group">
                              <label class="control-label">{{field.label}}:</label>
                              {{ field }}
                              {% if field.errors %}
                                 {% for error in field.errors %}
                                   {{ error }}
                                 {% endfor %}
                              {% endif %}
                            </div>
                        {% endfor %}
                        <div class="control-group">
                          <div class="controls span3">
                              <a id="submit-study-log-form-btn" class="btn btn-success btn-large btn-block">
                                确认 
                              </a>
                          </div>
                        </div>
                    </fieldset>
                </form>
