{% extends "base.html" %}
{% load i18n %}
{% block head-block %}
<div class="container">
    <div class="topnav">
        <a href="#">项目</a>
        <a href="#">日程</a>
        <a href="#">故事</a>
        <a href="#">进展</a>
        <a href="#">团队</a>
    </div>
	<div style="position: static;" class="navbar">
       <div class="navbar-inner">
         <div class="container">
           <a data-target=".navbar-inverse-collapse" data-toggle="collapse" class="btn btn-navbar">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
           </a>
           <a href="#" class="brand" style="padding:0 20px;"><img src="{{ STATIC_URL }}assets/studytribe/img/logo.png"/>Basecamp</a>
           <div class="nav-collapse collapse navbar-inverse-collapse">
             <ul class="nav">
               <li class=" divider-vertical"></li>	
               <li class="active"><a href="#">我的班级</a></li>
               <li><a href="#">教学日历</a></li>
               <li><a href="#">所有故事</a></li>
               <li><a href="#">项目进展</a></li>
               <li class=" divider-vertical"></li>
               <li><a href="#">我的团队</a></li>
         	  <li><a href="#">123木头人</a></li>
             </ul>
             <div class="btn-group pull-left">
               <form class="form-search" style="margin-bottom:0;">
                 <div class="input-prepend">
                     <button type="submit" class="btn"><i class="icon-search"></i></button>
                     <input type="text" size="16" id="prependedInput" class="search-query input-medium" placeholder="搜索"/>
                 </div>
               </form>
             </div>
           </div><!-- /.nav-collapse -->
         </div>
       </div><!-- /navbar-inner -->
 </div>
</div>
{% endblock %}


