{% extends "studytribe/base.html" %}
{% load i18n %}
{% block titleblock %}{% trans "main" %}{% endblock %}

{% block body-block %}
<div class="container">
	<h2 class="txtc">在这里能看到你所在得所有班级中发生的所有事情</h2>
    <section>
    	 <div class="event_container">
                <a href="#" class="eventdate">
                    <div><p>今天</p>
                    <span>十一月5日</span></div>
                </a>
                <div class="eventcon left">
                        <div class="projectname"><a href="#">我的茁茁</a></div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>   
                </div><!--eventcon-end-->
        </div><!--event_container-end-->
        
        <div class="event_container">
                <a href="#" class="eventdate">
                    <div><p>今天</p>
                    <span>十一月5日</span></div>
                </a>
                <div class="eventcon right">
                        <div class="projectname"><a href="#">我的茁茁</a></div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>   
                </div><!--eventcon-end-->
        </div><!--event_container-end-->
        
        <div class="event_container">
                <a href="#" class="eventdate">
                    <div><p>今天</p>
                    <span>十一月5日</span></div>
                </a>
                <div class="eventcon left">
                        <div class="projectname"><a href="#">我的茁茁</a></div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>
                        <div class="eventbox">
                                <div class="time">12:57am</div>
                                <div class="eventtext">
                                        <div class="avatar"><img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" ></div>
                                        <div class="event">
                                            <span class="username">xiaoying</span>
                                            <span>删除了一条消息</span>
                                            <a>新项目的可实施性</a>
                                            <span>的评论</span>
                                        </div>
                                        <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                         </div>   
                </div><!--eventcon-end-->
        </div><!--event_container-end-->
    </section>
</div>
{% endblock %}
{% block footer-block %}
{% endblock %}


