{% extends "studytribe/base.html" %}
{% load i18n %}
{% block titleblock %}{% trans "main" %}{% endblock %}

{% block body-block %}

    {% include "studytribe/studyfootmark/tparts/footmark.html" %}
    
    {% addtoblock "jss" %}
    {% if debug %}
      <script src="{{ STATIC_URL }}assets/studytribe/js/footmark.js"></script>
    {% else %}
      <script src="{{ STATIC_URL }}assets/studytribe/js/footmark-min.js"></script>
    {% endif %}
    {% endaddtoblock %}

{% endblock %}

{% block footer-block %}
{% endblock %}


