{% extends "studytribe/base.html" %}
{% load sekizai_tags %}
{% load i18n %}
{% block titleblock %}{% trans "main" %}{% endblock %}
{% block body-block-static %}
<div class="tribemember">
	<div class="row">
    	<div id="add-member-btn" class="addpeople span2">
        	<a href="#"><span>添加成员</span></a>
        </div>
        <div class="span7">
        	<div class="row">
                <section>
                    <article>
                        <a class="person" href="#">
                            <img src="/static/assets/studytribe/img/logo.png">
                            <p>xiaoying</p>
                        </a>
                    </article>
                    <article>
                        <a class="person" href="#">
                            <img src="/static/assets/studytribe/img/logo.png">
                            <p>xiaoying</p>
                        </a>
                    </article>
                    <article>
                        <a class="person" href="#">
                            <img src="/static/assets/studytribe/img/logo.png">
                            <p>xiaoying</p>
                        </a>
                    </article>
                    <article>
                        <a class="person" href="#">
                            <img src="/static/assets/studytribe/img/logo.png">
                            <p>xiaoying</p>
                        </a>
                    </article>
                  </section>
              </div>

        	<section class="companymain">
              <article class="invite invite-form" style="display:none;">
                      <header>
                          <h4>邀请新人到您的学习部落</h4>
                          <p>输入每个人的电子邮件地址：</p>
                      </header>
                       <div class="invitees">
                          <span class="add-on"><i class="st-icon-user"></i></span>
                          <input id="inputIcon" type="text" style="margin-bottom:0;">
                      </div>
                      <div class="invitees">
                          <span class="add-on"><i class="st-icon-user"></i></span>
                          <input id="inputIcon" type="text" style="margin-bottom:0;">
                      </div>
                      <div class="invitees">
                          <span class="add-on"><i class="st-icon-user"></i></span>
                          <input id="inputIcon" type="text" style="margin-bottom:0;">
                      </div>
                      <div class="create"><button class="btn">创建班级</button><a id="cancelcreate" href="#">取消</a></div>
              </article>
            </section>
              <p class="superpowers"><a href="#">Grant admin and other superpowers</a></p>
        </div>
  </div>
</div>
    
</script>
{% addtoblock "jss" %}
  <script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
	  $("#add-member-btn").bind("click",function(){
		$(".invite-form").slideToggle();
	  });
	});
  </script>
{% endaddtoblock %}
{% endblock %}

