{% extends "base.html" %}
{% load sekizai_tags %}
{% load i18n %}
{% load includetags %}

{% block head-block %}
{% endblock %}

{% block body-block %}
<div class="container hero-unit">
  <div class="row">
      <div class="span6">
          <h1>欢迎来到学习部落</h1>
          <p>成长源自关注</p>
      </div>
  </div>
  
  <div class="row">
    <div class="span6">
        <div class="span6 well">
            {% include "studytribe/tribemember/tparts/signinform.html" %}
        </div>
        <div class="span6 well">
            {% include "studytribe/tribemember/tparts/signupform.html" %}
        </div>
    </div>
    <div class="span6">
    	<img class="main-promote" src="{{STATIC_URL}}assets/studytribe/img/login-main.png" />
    </div>
  </div>

  <p class="footerstyle" style="font-size:12px;">
      &copy; Esperyong 2012-2013
  </p>

</div>

{% addtoblock "css" %}
  {% include_css 'signin_or_signup' %}
{% endaddtoblock %}

{% endblock %}

{% block footer-block %}
{% endblock %}

