{% extends "studytribe/base.html" %}
{% load i18n %}

{% block body-block-static %}
<div class="row-fluid">
	<div class="span2">
        <a data-toggle="modal" href="{% url study-group-create study_tribe.id %}">
        	<span class="addproject"></span>
        	<span class="addtext">新建班级</span>
        </a>
        <ul class="listtype">
        	<li class="card" ><a href="#"></a></li>
            <li class="cardtext" ><a href="#"></a></li>
            <li class="list" ><a href="#"></a></li>
        </ul>
    </div>
    <div class="span10">
    	<div class="row">
    {% for study_group in studygroup_list %}
        	<article class="projectcard">
                <a class="btn btn-small btn-danger pull-right" href="#">删除班级</a>
                <a href="{% url study-group-members tribe_id=study_tribe.id group_id=study_group.id  %}">
                    <h3 class="b">{{ study_group.name }}<span></span></h3>
                    <p>{{ study_group.description }}</p>
                </a>
            </article>
    {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


