{% extends "studytribe/base.html" %}
{% load i18n %}
{% block titleblock %}{% trans "main" %}{% endblock %}

{% block body-block-static %}
<div class="row-fluid">
	<div class="span2">
    	<a data-toggle="modal" href="#addLinkModal">
        	<span class="addproject"></span>
        	<span class="addtext">新建班级</span>
        </a>
        <ul class="listtype">
        	<li class="card" ><a href="#"></a></li>
            <li class="cardtext" ><a href="#"></a></li>
            <li class="list" ><a href="#"></a></li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="span10">
    	<div class="row">
        	<article class="projectcard">
            	<a href="#">
                	<h3 class="b">雅思0928<span><新航道></span></h3>
                    <p>我的茁茁是用来测试的，如果想进一步了解茁茁请点击这里吧～！</p>
                    <p>待办事项18,文件24,</p>
                    <div class="people">
                    	<img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" width="40" height="40" title="xiaoying">
                    </div>
                </a>
            </article>
            <article class="projectcard">
            	<a href="#">
                	<h3 class="b">快乐数学0325<span>< 学大 ></span></h3>
                    <p>我的茁茁是用来测试的，如果想进一步了解茁茁请点击这里吧～！</p>
                    <p>待办事项18,文件24,</p>
                    <div class="people">
                    	<img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" width="40" height="40" title="xiaoying">
                    </div>
                </a>
            </article>
            <article class="projectcard">
            	<a href="#">
                	<h3 class="b">幼儿35班<span>< 老罗英语 ></span></h3>
                    <p>我的茁茁是用来测试的，如果想进一步了解茁茁请点击这里吧～！</p>
                    <p>待办事项18,文件24,</p>
                    <div class="people">
                    	<img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" width="40" height="40" title="xiaoying">
                    </div>
                </a>
            </article>
        </div>
    </div>
</div>
<div id="addLinkModal" class="modal hide addclass" tabindex="-1" style="top:10%; left:30%;">
     <header>为你的团队创建一个新的班级</header>
     <div class="modal-body">
            <form>
                <div class="addclasscon pull-left">
                    <div class="name"> <textarea  placeholder="班级名称"></textarea></div>
                    <div class="description">
                        <textarea  placeholder="为你的班级添加一些描述吧！"></textarea>
                    </div>
                    <div class="email_Invite">
                        <section class="invite">
                            <header>您也可以邀请别人加入班级</header>
                            <div class="invitees">
                                <span class="add-on"><i class="st-icon-user"></i></span>
                                <input id="inputIcon" type="text" style="margin-bottom:0;">
                            </div>
                            <div class="invitees">
                                <span class="add-on"><i class="st-icon-user"></i></span>
                                <input id="inputIcon" type="text" style="margin-bottom:0;">
                            </div>
                            <div class="invitees">
                                <span class="add-on"><i class="st-icon-user"></i></span>
                                <input id="inputIcon" type="text" style="margin-bottom:0;">
                            </div>
                        </section>
                        <div class="create"><button class="btn">创建班级</button><a>取消</a></div>
                    </div>
                  </div>
                <div class="addclassconright">
                	<div class="title">项目模板</div>
                    <p>发现自己一遍又一遍的创建相同的模板？节省时间，又不使用一个项目模板，所有邮件，待办事项，文件，文本文档和时间会自动添加到你的项目。</p>
                    <a>创建你第一个模板</a>
                </div>
            </form>
        </div>
</div>
{% endblock %}


