{% extends "studytribe/base.html" %}
{% load i18n %}
{% block titleblock %}{% trans "main" %}{% endblock %}

{% block body-block %}
<div class="row-fluid">
	<div class="span2">
    	<a href="#">
        	<span class="addproject"></span>
        	<span class="addtext">新建班级</span>
        </a>
        <ul class="listtype">
        	<li class="card" ><a href="#"></a></li>
            <li class="cardtext" ><a href="#"></a></li>
            <li class="list" ><a href="#"></a></li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="span10">
    	<div class="row">
        	<article class="projectcard">
            	<a href="#">
                	<h3 class="b">雅思0928<span>< 新航道 ></span></h3>
                    <p>我的茁茁是用来测试的，如果想进一步了解茁茁请点击这里吧～！</p>
                    <p>待办事项18,文件24,</p>
                    <div class="people">
                    	<img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" width="40" height="40" title="xiaoying">
                    </div>
                </a>
            </article>
            <article class="projectcard">
            	<a href="#">
                	<h3 class="b">快乐数学0325<span>< 学大 ></span></h3>
                    <p>我的茁茁是用来测试的，如果想进一步了解茁茁请点击这里吧～！</p>
                    <p>待办事项18,文件24,</p>
                    <div class="people">
                    	<img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" width="40" height="40" title="xiaoying">
                    </div>
                </a>
            </article>
            <article class="projectcard">
            	<a href="#">
                	<h3 class="b">幼儿35班<span>< 老罗英语 ></span></h3>
                    <p>我的茁茁是用来测试的，如果想进一步了解茁茁请点击这里吧～！</p>
                    <p>待办事项18,文件24,</p>
                    <div class="people">
                    	<img src="file:///Macintosh HD/Users/song/Desktop/img/2012131761825472.jpg" width="40" height="40" title="xiaoying">
                    </div>
                </a>
            </article>
        </div>
    </div>
</div>
{% endblock %}


