{% extends "studytribe/base.html" %}
{% load i18n %}
{% block titleblock %}{% trans "main" %}{% endblock %}

{% block body-block-static %}
<div class="projects_details">
	<header>
    	<h3>我的项目名称</h3>
        <p>我的项目描述这里是我的项目描述我的项目描述！</p>
		<div class="project_toolbar">
            <div class="group">
                <a href="#">7 讨论</a>
                <a href="#">13 个待办事项</a>
                <a href="#">12 文件</a>
                <a href="#">4 文本文档</a>
                <a href="#">日历项</a>
            </div>
    	</div>
	</header>
    <div class="sheet_body">
    	<section class="discussions">
        	<header>
            	<a>讨论</a>
                <button class="btn">开始一个新讨论</button>
            </header>
            <article class="expanded">
            	<div class="bubble">
                	<form>
                    	<header class="text_entry">
                        	<h4>主 题 :</h4>
                            <div class="bodycon">
                            	<div class="body pull-left">内 容 :</div>
                                <div class="context pull-left">
                                    <div class="btn-group">
                                        <button class="btn">加粗 (<strong> B </strong>)</button>
                                        <button class="btn">倾斜 (<em> I </em>)</button>
                                        <button class="btn">无序 ( Bullets )</button>
                                        <button class="btn">有序 ( Numbers )</button>
                                        <button class="btn">换行 ( Quote )</button>
                                    </div>
                                    <div class="textbox">
                                    <textarea></textarea>
                                    <div class="attachments">
                                   	  <img class="pull-left" src="img/attachments.png" width="18" height="18">
                                      <div>附加文件拖拽到下面，或者从<a href="#">你的电脑中选择…</a></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                         </header>
                        <footer>
                        	<button class="btn">提交讨论</button> or <a class="cancel" href="#">取消</a>
                        </footer>
                    </form>
                </div>
            </article>
            <table class="discussionslist" width="100%" border="0"a cellspacing="0" cellpadding="0">
                 <tr>
                        <td>
                            <a href="#"><img src="img/user.jpg"></a>
                        </td>
                        <td><a href="#">xiaoying</a></td>
                        <td><a href="#">讨论项目的可实施方案</a> - <a href="#">这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述</a></td>
                        <td><a href="#">10月31日</a></td>
                        <td><a href="#"></a></td>
                  </tr>
							  <tr>
                        <td>
                            <a href="#"><img src="img/user.jpg"></a>
                        </td>
                        <td><a href="#">xiaoying</a></td>
                        <td><a href="#">讨论项目的可实施方案</a> - <a href="#">这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述</a></td>
                        <td><a href="#">10月31日</a></td>
                        <td><a href="#"><span class="pill">２</span></a></td>
                  </tr>
                 <tr>
                        <td>
                            <a href="#"><img src="img/user.jpg"></a>
                        </td>
                        <td><a href="#">xiaoying</a></td>
                        <td><a href="#">讨论项目的可实施方案</a> - <a href="#">这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述</a></td>
                        <td><a href="#">10月31日</a></td>
                        <td><a href="#"></a></td>
                  </tr>
                 <tr>
                        <td>
                            <a href="#"><img src="img/user.jpg"></a>
                        </td>
                        <td><a href="#">xiaoying</a></td>
                        <td><a href="#">讨论项目的可实施方案</a> - <a href="#">这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述</a></td>
                        <td><a href="#">10月31日</a></td>
                        <td><a href="#"></a></td>
                  </tr>
                 <tr>
                        <td>
                            <a href="#"><img src="img/user.jpg"></a>
                        </td>
                        <td><a href="#">xiaoying</a></td>
                        <td><a href="#">讨论项目的可实施方案</a> - <a href="#">这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述</a></td>
                        <td><a href="#">10月31日</a></td>
                        <td><a href="#"></a></td>
                  </tr> 	
			</table>
            <a class="more">更多討論</a>
        </section>
        <section class="to-do">
        	<header>
            	<a>讨论</a>
                <button class="btn">添加待办事项</button>
            </header>
            <ul class="to-do-lists">
            	<li class="list">
                	<article>
                        <header>
                            <h4><a href="＃">開發９個界面</a></h4>
                        </header>
                        <ul>
                            <li>
                            	<div class="nubbin pull-left"><i class="icon-trash"></i><a class="edit" href="#">编辑</a></div>
                                <label class="pull-left"><input type="checkbox"> <a href="#">第一個界面</a></label>
                                <div class="unassigned pull-left">未指定</div>
                                <div class="clear"></div>
                             </li>
                            <li><label><input type="checkbox"> <a href="#">第二個界面</a></label></li>
                            <a class="more">添加待办事项</a>
                        </ul>
                    </acticle>
                </li>
                <li class="list">
                	<article>
                        <header>
                            <h4><a href="#">待办事项基础知识</a></h4>
                        </header>
                        <ul>
                            <li><label><input type="checkbox"> <a href="#">点击这里……</a></label></li>
                            <li><label><input type="checkbox"> <a href="#">点这这个盒子……</a></label></li>
                            <a class="more">添加待办事项</a>
                        </ul>
                     </acticle>
                </li>
                <li class="list">
                	<article>
                        <header>
                            <h4><a href="#">一些快速的东西，探索在学习部落</a></h4>

                        </header>
                        <ul>
                            <li><label><input type="checkbox"> <a href="#">单击项目的名称（"学习部落"），在左上角的项目重新命名或更改说明。然后单击它一改再改到别的东西</a></label></li>
                            <li><label><input type="checkbox"> <a href="#">上传一个文件到这个项目只需拖动文件到您的网页浏览器（一个图片，Word文档，PDF等等），下降到这个项目中的任何地方</a></label></li>
                            <li><label><input type="checkbox"> <a href="#">探索大本营的堆叠接口的完全独特的网页。点击这里给我看它是如何工作的</a></label></li>
                            <li><label><input type="checkbox"> <a href="#">点击"邀请更多的人"的链接在右上角邀请其他人加入这个项目</a></label></li>
                            <a class="more">添加待办事项</a>
                        </ul>
                     </acticle>
                </li>
            </ul>
         </section>
         <section class="files">
        	<header>
            	<a>文件</a>
                <button class="btn">更新文件</button>
            </header>
            <ul class="fileslist">
                     	<li>
               		<table width="50%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="img/glyphicons-halflings.png" width="469" height="159"></td>
                        <td>
                        	<h4><a href="#">这里是文件名字</a><button class="btn">label…</button></h4>
                            <a href="#">下载</a> or <a href="#">Go to image and discussion</a>
                        </td>
                      </tr>
                    </table>
                </li>
				<li>
               		<table width="50%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="img/user.jpg" width="307" height="308"></td>
                        <td>
                        	<h4><a href="#">这里是文件名字</a><button class="btn">label…</button></h4>
                            <a href="#">下载</a> or <a href="#">Go to image and discussion</a>
                        </td>
                      </tr>
                    </table>
                </li>
      			     	<li>
               		<table width="50%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="img/glyphicons-halflings.png" width="469" height="159"></td>
                        <td>
                        	<h4><a href="#">这里是文件名字</a><button class="btn">label…</button></h4>
                            <a href="#">下载</a> or <a href="#">Go to image and discussion</a>
                        </td>
                      </tr>
                    </table>
                </li>
                     	<li>
               		<table width="50%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="img/glyphicons-halflings.png" width="469" height="159"></td>
                        <td>
                        	<h4><a href="#">这里是文件名字</a><button class="btn">label…</button></h4>
                            <a href="#">下载</a> or <a href="#">Go to image and discussion</a>
                        </td>
                      </tr>
                    </table>
                </li>
                     	<li>
               		<table width="50%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="img/glyphicons-halflings.png" width="469" height="159"></td>
                        <td>
                        	<h4><a href="#">这里是文件名字</a><button class="btn">label…</button></h4>
                            <a href="#">下载</a> or <a href="#">Go to image and discussion</a>
                        </td>
                      </tr>
                    </table>
                </li>
            </ul>
         </section>
         <section class="text_documents">
        	<header>
            	<a>文本文档</a>
                <button class="btn">新建文本</button>
            </header>
            <ul class="textlist">
                  <li>
               		<table width="50%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="img/text.png" width="86" height="100"></td>
                        <td>
                        	<a class="name" href="#">这里是文件名字</a>
                            <p>10月31日xiaoying</p>
                        </td>
                      </tr>
                    </table>
                </li>
                  <li>
               		<table width="50%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="img/text.png" width="86" height="100"></td>
                        <td>
                        	<a class="name" href="#">这里是文件名字</a>
                            <p>10月31日xiaoying</p>
                        </td>
                      </tr>
                    </table>
                </li>
                  <li>
               		<table width="50%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="img/text.png" width="86" height="100"></td>
                        <td>
                        	<a class="name" href="#">这里是文件名字</a>
                            <p>10月31日xiaoying</p>
                        </td>
                      </tr>
                    </table>
                </li>
                  <li>
               		<table width="50%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="img/text.png" width="86" height="100"></td>
                        <td>
                        	<a class="name" href="#">这里是文件名字</a>
                            <p>10月31日xiaoying</p>
                        </td>
                      </tr>
                    </table>
                </li>
            </ul>
         </section>
    </div>
    <footer>
    	<a class="projects_set" href="#"><i class="icon-wrench"></i>项目设置</a>
    </footer>
</div>
{% endblock %}

