{% extends "studytribe/base.html" %}
{% load sekizai_tags %}
{% load i18n %}
{% block body-block-static %}
{% url study-group-members tribe_id=user.created_tribe.id group_id=group_id as study_group_members %}
<div class="tribemember">
	<div class="row">
    	<div id="add-member-btn" class="addpeople span2">
        	<a href="#"><span>添加成员</span></a>
        </div>
        <div class="span7">
        	<div class="row">
                <section>
                    {% for member in study_group.members.all %}
                    <article class="person">
                            <img src="/static/assets/studytribe/img/logo.png">
                            <p>
                            <div class="student-ops btn-group">
                              <button class="btn btn-success">{{member.username}}</button>
                              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                              </button>
                              <ul student_id="{{member.id}}" class="student-ops dropdown-menu">
                                <li>
                                    <a class="pop-write-study-log-btn" 
                                        study-log-url="{% url student-study-log-input group_id=study_group.id member_id=member.id %}">
                                        填写教学日志
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">将用户移出班级</a></li>
                              </ul>
                            </div><!-- /btn-group -->
                           </p>
                    </article>
                    {% endfor %}
                </section>
            </div>
            <div id="study-log-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">撰写教学日记</h3>
              </div>
              <div class="modal-body">
                {% include "studytribe/studygroup/tparts/study_log_form.html" %}
              </div><!-- end of modal body -->
            </div><!-- end of modal -->
        	<div class="invite-form" {%if not form_visible%}style="display:none;"{%endif%}>
                <form action="{{ study_group_members }}" method="post" class="form-horizontal" >
                    {% csrf_token %}
                    <legend>增加一位成员到这个班级</legend>
                    <fieldset>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="control-group">
                              <label class="control-label">{{field.label}}:</label>
                              {{ field }}
                              {% if field.errors %}
                                 {% for error in field.errors %}
                                   {{ error }}
                                 {% endfor %}
                              {% endif %}
                            </div>
                        {% endfor %}
                        <div class="control-group">
                          <div class="controls span3">
                              <button type="submit" class="btn btn-success btn-large btn-block">
                                 增加 
                              </button>
                          </div>
                        </div>
                    </fieldset>
                </form> 
            </div>
            <p class="superpowers"><a href="#">Grant admin and other superpowers</a></p>
        </div>
  </div>
</div>
{% addtoblock "css" %}
  <link href="{{ STATIC_URL }}assets/jquery-ui-ext/timepicker/jquery.timepicker.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}assets/jquery-ui/themes/base/jquery.ui.all.css" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "jss" %}
<script src="{{ STATIC_URL }}assets/jquery-ui/ui/jquery.ui.core.js"></script>
<script src="{{ STATIC_URL }}assets/jquery-ui/ui/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}assets/jquery-ui/ui/jquery.ui.datepicker.js"></script>
<script src="{{ STATIC_URL }}assets/jquery-ui/ui/i18n/jquery.ui.datepicker-zh-CN.js"></script>
<script src="{{ STATIC_URL }}assets/jquery-ui-ext/timepicker/jquery.timepicker.js"></script>
{% endaddtoblock %}

{% addtoblock "jss" %}
<script type="text/javascript" charset="utf-8">
    /**
     * 采用Ajax方式提交一个form,失败和成功都显示相应过来的body内容;
     */
    function submit_form(form_id,url_str,error_func,success_func){
        var sendData = {};

        $("#"+form_id+" input[type!='checkbox'],"+
          "#"+form_id+" select,"+
          "#"+form_id+" textarea"
          ).each(function(i){
            var input_comp = $(this);
            sendData [input_comp.attr("name")] = input_comp.val();
          });

        $("#"+form_id+" input[type='checkbox']").each(function(i){
            var input_comp = $(this);
            sendData [input_comp.attr("name")] = input_comp.is(':checked');
         });

        $.ajax({
            type: "POST",
            url: url_str,
            contentType: "application/x-www-form-urlencoded",
            data: sendData,
            processData: true,
            beforeSend: function(request){
              httpClient = request;
            },
            cache:false,
            async:false,
            error:error_func,
            success:success_func 
        });

    }

    function bind_date_time_picker_to_studylog_form(){
        $("#datepicker").datepicker( $.datepicker.regional[ "zh-CN" ] );
        $('#attend-timepicker').timepicker({'timeFormat':'H:i:s',
                                            'step':10,
                                            'scrollDefaultNow':true});
    }

    function study_log_form_error(request, textStatus, errorThrown){
        var res_text = request.responseText;
        $('#study-log-form').replaceWith(res_text);
        bind_date_time_picker_to_studylog_form();
    }

    function study_log_form_success(msg){
        alert('保存成功!');
        $('#study-log-form').replaceWith(msg);
        bind_date_time_picker_to_studylog_form();
        result = true;
    }

	$(document).ready(function(){
	  $("#add-member-btn").bind("click",function(){
          $(".invite-form").slideToggle();
	  });
      $(".pop-write-study-log-btn").bind("click",function(e){
          e.preventDefault();
          var url_var = $(this).attr("study-log-url");
          $("#study-log-modal").attr("study-log-url",url_var).modal("show");
      });
      $("#submit-study-log-form-btn").live("click",function(e){
        e.preventDefault();
        var form_id = "study-log-form";
        var url = $("#study-log-modal").attr("study-log-url");
        submit_form(form_id,url,study_log_form_error,study_log_form_success);
      });
      bind_date_time_picker_to_studylog_form();
	});
</script>
{% endaddtoblock %}
{% endblock %}


