{% load i18n %}
{% url study-calendar as study_calendar %}
{% url study-footmark as study_footmark %}
{% url study-group-list tribe_id=user.created_tribe.id as study_group_list %}
{% url everythings as everythings %}
{% url member as member %}
{% url me mid=1 as me %}
<div class="container">
    <ul class="topnav">
        <a {% ifequal request.path study_group_list %}tooltip="haha"{% endifequal %} href="{{study_group_list}}">我的班级</a>
        <a href="{{study_calendar}}">教学日历</a>
        <a href="{{everythings}}">一目了然</a>
        <a href="{{study_footmark}}">学习足迹</a>
        <a href="{{member}}">其他部落成员</a>
        <a href="{{me}}">我</a>
        <a href="{% url studytribe_signout%}">{% trans "sign out" %}</a>
    </ul>
	<div style="position: static;" class="navbar">
       <div class="navbar-inner">
         <div class="container">
             <a href="{{study_group_list}}" class="brand" style="padding:0 20px;">
                 <img src="{{ STATIC_URL }}assets/studytribe/img/logo.png"/>学习部落
             </a>
             <div class="nav-collapse collapse navbar-inverse-collapse">
                 <ul class="nav">
                   <li class=" divider-vertical"></li>	
                   <li {% ifequal request.path study_group_list %}class="active"{% endifequal %}>
                       <a href="{{study_group_list}}">我的班级</a>
                   </li>
                 </ul>
                 <div class="btn-group pull-left">
                   <form class="form-search" style="margin-bottom:0;">
                     <div class="input-prepend">
                         <button type="submit" class="btn btnaddstyle" style="border-radius:3px 0 0 3px; border-right:none;">
                             <i class="icon-search"></i>
                         </button>
                         <input type="text" size="16" id="prependedInput" class="input-medium" placeholder="搜索"/>
                     </div>
                   </form>
                 </div>
             </div><!-- /.nav-collapse -->
         </div>
       </div><!-- /navbar-inner -->
    </div>
</div>

